.home-page,
.home-page * {
  box-sizing: border-box;
}
.home-page {
  background: #ffffff;
  height: 832px;
  position: relative;
  overflow: hidden;
}
.rectangle-9 {
  width: 1280px;
  height: 109px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.search-system {
  position: absolute;
  inset: 0;
}
.search {
  background: var(--var-sds-color-background-default-default, #ffffff);
  border-radius: var(--var-sds-size-radius-full, 9999px);
  border-style: solid;
  border-color: var(--var-sds-color-border-default-default, #d9d9d9);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px)
    var(--var-sds-size-space-400, 16px) var(--var-sds-size-space-300, 12px)
    var(--var-sds-size-space-400, 16px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: flex-start;
  width: 311.62px;
  height: 39.17px;
  position: absolute;
  left: 818px;
  top: 33.96px;
  overflow: hidden;
}
.value {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
  flex: 1;
}
.x {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.search2 {
  width: 39.78px;
  height: 47px;
  position: absolute;
  left: 1141.22px;
  top: 32px;
  overflow: visible;
}
.utd-bulletin-board {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --m3-display-small-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--m3-display-small-font-size, 36px);
  line-height: var(--m3-display-small-line-height, 44px);
  font-weight: var(--m3-display-small-font-weight, 400);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 267px;
  height: 109px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-4 {
  width: 157px;
  height: 98px;
  position: absolute;
  left: 561px;
  top: 6px;
  object-fit: cover;
  aspect-ratio: 157/98;
}
.posts {
  color: #000000;
  text-align: center;
  font-family: "KantumruyPro-SemiBold", sans-serif;
  font-size: 26px;
  font-weight: 600;
  position: absolute;
  left: 292px;
  top: 109px;
  width: 98px;
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clubs {
  color: #000000;
  text-align: center;
  font-family: "KantumruyPro-SemiBold", sans-serif;
  font-size: 26px;
  font-weight: 600;
  position: absolute;
  left: 581px;
  top: 117px;
  width: 98px;
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.events {
  color: #000000;
  text-align: center;
  font-family: "KantumruyPro-SemiBold", sans-serif;
  font-size: 26px;
  font-weight: 600;
  position: absolute;
  left: 876px;
  top: 109px;
  width: 112px;
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-out {
  color: #ffffff;
  text-align: center;
  font-family: "KantumruyPro-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  left: 1297px;
  top: 25px;
  width: 120px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.utd-01-2560-x-1440-2560-x-1440-1 {
  width: 1270px;
  height: 313px;
  position: absolute;
  left: 0px;
  top: 208px;
  object-fit: cover;
  aspect-ratio: 1270/313;
}
.rectangle-10 {
  background: rgba(14, 75, 59, 0.55);
  border-radius: 15px;
  width: 1270px;
  height: 313px;
  position: absolute;
  left: 0px;
  top: 208px;
}
.welcome-april-smith {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansTeluguUi-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 208px;
  width: 1280px;
  height: 313px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.utd-atec-1024-x-576 {
  border-radius: 0px;
  width: 264px;
  height: 256px;
  position: absolute;
  left: 932px;
  top: 550px;
  overflow: visible;
  object-fit: cover;
}
.rectangle-13 {
  border-radius: 0px;
  width: 264px;
  height: 256px;
  position: absolute;
  left: 932px;
  top: 550px;
  overflow: visible;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.utd-sciences-02 {
  border-radius: 0px;
  width: 264px;
  height: 256px;
  position: absolute;
  left: 82px;
  top: 550px;
  overflow: visible;
  object-fit: cover;
}
.rectangle-12 {
  border-radius: 0px;
  width: 264px;
  height: 256px;
  position: absolute;
  left: 83px;
  top: 550px;
  overflow: visible;
}
.button {
  width: 162px;
  height: 34px;
  position: absolute;
  left: 134px;
  top: 717px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.text-box {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.rectangle-8 {
  background: #0e4b3b;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.login {
  color: #f5f5f5;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-club {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansTeluguUi-ExtraBold", sans-serif;
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  left: 144px;
  top: 603px;
  width: 139px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.utd-live-learn-community-0 {
  border-radius: 0px;
  width: 264px;
  height: 256px;
  position: absolute;
  left: 519px;
  top: 550px;
  overflow: visible;
  object-fit: cover;
}
.rectangle-11 {
  background: rgba(14, 75, 59, 0.45);
  border-radius: 20px;
  width: 264px;
  height: 256px;
  position: absolute;
  left: 519px;
  top: 550px;
}
.create-a-post {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansTeluguUi-ExtraBold", sans-serif;
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  left: 581px;
  top: 601px;
  width: 139px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button2 {
  width: 162px;
  height: 34px;
  position: absolute;
  left: 570px;
  top: 717px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-3 {
  position: absolute;
  inset: 0;
}
.image {
  width: 235px;
  height: 224px;
  position: absolute;
  left: 946px;
  top: 566px;
}
.create-an-event {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansTeluguUi-ExtraBold", sans-serif;
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  left: 955px;
  top: 586px;
  width: 226px;
  height: 138px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button3 {
  width: 162px;
  height: 34px;
  position: absolute;
  left: 987px;
  top: 717px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-82 {
  background: #0e4b3b;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.user {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 1202px;
  top: 32px;
  overflow: visible;
}
