.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-heading {
  color: #000000;
  text-decoration: underline;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  position: relative;
  left: 4.43%;
  top: 0px;
  width: 386px;
  height: 44px;
  margin-bottom: 4%;
}
.joined-clubs {
 margin-top: 30px;
 left: 4.43%;
}
.heading-club {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  left: 4.43%;
  top: 0px;
  width: 386px;
  height: 44px;
  margin-bottom: 1%;
}
.group {
  position: relative;
  inset: 0;
  left: 4.43%;
  background-color: white; /* Light green */
  color: black;            /* Dark blue text */
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: bold;
  width: 257px;
  height: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  border: 2px solid black;
}
.create-my-club {
  left: 5%;
  background-color: #006400; /* Light green */
  color: white;            /* Dark blue text */
  padding: 10px 15px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 12px;
  font-weight: bold;
  width: 145px;
  height: 41px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid black; /* Dark green border */
  position: relative;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
}
.edit-club {
  left: 35%;
  background-color: #006400; /* Light green */
  color: white;            /* Dark blue text */
  padding: 10px 15px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 12px;
  font-weight: bold;
  width: 145px;
  height: 41px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid black; /* Dark green border */
  position: relative;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
}
.delete-club {
  left: 65%;
  background-color: #006400; /* Light green */
  color: white;            /* Dark blue text */
  padding: 10px 15px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 12px;
  font-weight: bold;
  width: 145px;
  height: 41px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid black; /* Dark green border */
  position: relative;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
}

